extends layout

block content
  .ui.container.centered.vert-center.half
    .ui.main.header.inverted
        span
            i.shield.yellow.icon
        if tag
            span Browse items tagged as '#{tag}'
        else
            span Browse Submissions
    if submissions
        for item in submissions
            .ui.card
                .content
                    .header
                        if suggestion
                            a(href='/browse/suggestion/' + item._id)= item.title
                        else
                            a(href='/browse/item/' + item._id)= item.title
                    .meta= 'submitted ' + locals.moment(item.timestamp).fromNow()
                    .description.break-word!= item.description
        if suggestion
            a.ui.right.labeled.icon.button.margin-bottom(href='/tags/suggestions/' + tag + '/' + (page + 1))
                i.right.chevron.icon
                span Next
        else if tag
            a.ui.right.labeled.icon.button.margin-bottom(href='/tags/' + tag + '/' + (page + 1))
                i.right.chevron.icon
                span Next
        else
            a.ui.right.labeled.icon.button.margin-bottom(href='/browse/' + (page + 1))
                i.right.chevron.icon
                span Next