extends layout

block content
  .ui.middle.aligned.one.column.centered.padded.grid
    .ui.row.computer.only(style="padding: 10px;")
    .ui.row
      .ui.container
        .ui.sizer.vertical.inflated.segment(style="font-size: 24px;")
          .ui.large.icon.header
            i.facebook.f.icon.blue
          .ui.inverted.large.header(style="margin: 0;")= header
          .ui.inverted.small.header(style="margin: 0;")= subtitle
        form.ui.form(action=path, method='POST')
          .two.fields.margin-top(style="padding-left: 22.5%;")
            .field
              input.align-input-padding(type='text', name='data', style="font-size: 16px;", placeholder=label, required="required", value=(content ? content.title : ''))
            .field
              .ui.buttons.left.floated
                button.ui.large.inverted.button(type='Submit', style="font-size: 16px;", class=color)= 'Check ' + service
