extends layout

block content
  .ui.one.column.centered.padded.grid
    .ui.container
      .ui.sizer.vertical.segment
        .ui.huge.inverted.header
          i.info.circle.icon
          .content= `Review: ${track.name} Track`
      table.ui.large.padded.celled.structured.table
        thead
          tr
            th(rowspan='2') Q#
            th(rowspan='2') Question
            th(rowspan='2') Response
            th(rowspan='2') Learn More
        tbody
          each question, index in track.questions
            tr(class=(responses[index] === question.expected) ? 'positive' : 'negative')
              td.center.aligned= index + 1
              td= question.text
              td.center.aligned(style='font-weight: bold;')= locals.properCase(responses[index])
              td.center.aligned
                a.ui.blue.icon.button(href=`out?link=${question.link}&q=${index+1}&ref=summary`, target='_blank')
                  i.info.icon